<section id="about" class="container py-3">
  <h1 class="mb-3">Hakkımızda</h1>
  <div class="about-us mb-3">
    <img src="./img/about.jpg" alt="" />
    <div class="who-text">
      <h2 class="mb-3">Biz Kimiz</h2>
      <p class="mb-3">
       <strong>2018</strong> yılında hayatlarını birleştiren kurucularımız Kaya Mimarlık ve Çilek Mühendislik firmalarıyla müşterilerine Mimarlık, Mühendislik hizmetleri sunmaktadır <br>
      <strong>Vizyon ve misyon</strong> 
      Misafirlerimize tarzları ve talepleri doğrultusunda yaşam alanları geliştirmeye çalışan firmamız inşaat sektörünün her alanında hizmet vermekte ve optimum düzeyde sağlıklı mekanlar üretmeyi önemsemektedir.
      </p>

      <ul class="list">
        <li><strong>Demet Çilek</strong> Karadeniz Teknik Üniversitesi Mimarlık fakültesi mezunu olup 2017 yılında Mimarlık ofisini kurmuştur. </li>
        <li><strong>Alperen Çilek</strong> Sakarya Üni. Jeofizik Müh. Anadolu Üni. Uluslararası İlişkiler ve Cumhuriyet Üni. İnşaat bölümü mezunu olup 2013 yılında Mühendislik ofisini kurmuştur.</li>
      </ul>
    </div>        
  </div>  
  <div class="social">        
     <a href="https://www.facebook.com/KAYA-Mimarlık-360162111259399/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
     <a href="https://www.instagram.com/kayamimarlk/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
     <a href="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
   </div>    
</section>
