<section id="contact-a" class="text-center py-3">
  <div class="container">
    <h1 class="mb-3">İletişim</h1>
    <div class="bottom-line"></div>
    <p class="mb-3">Bize Ulaşın</p>
    <form method="POST" data-netlify="true" data-netlify-recaptcha="true">
      <div class="text-fields">
        <input
          type="text"
          class="text-input name-input"
          placeholder="İsminiz"
          name="name"
        />
        <input
          type="text"
          class="text-input subject-input"
          placeholder="Konu"
          name="subject"
        />
        <input
          type="email"
          class="text-input email-input"
          placeholder="Email adresinizi giriniz."
          name="email"
        />
        <input
          type="text"
          class="text-input phone-input"
          placeholder="Telefon numaranızı giriniz."
          name="phone"
        />
        <textarea
          class="text-input message-input"
          placeholder="Mesajini bu kısma yazınız."
          name="message"
        ></textarea>
        <div class="my-2">
          <div data-netlify-recaptcha="true"></div>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</section>

<div id="contact-b" class="py-3 bg-dark">
  <div class="container">
    <div class="contact-info">
      <div>
        <i class="fas fa-envelope fa-2x"></i>
        <h3>Email</h3>
        <p>alpercilek@gmail.com</p>
      </div>
      <div>
        <i class="fas fa-phone fa-2x"></i>
        <h3>Phone</h3>
        <p>05385666668</p>
      </div>
      <div>
        <i class="fas fa-address-card fa-2x"></i>
        <h3>Address</h3>
        <p>Sarkışla / Sivas</p>
      </div>
      <div></div>
    </div>
  </div>
</div>
