/* Header */
.container-services h1 {
  height: 3.2rem;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  border: none;
  border-bottom: solid 1px orangered;
}

.container-services p{
  text-align: center;
  font-size: 2rem;
}

.container-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin:auto;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.card{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:3rem;  
  
}

h4 {  
  font-weight: 700;
  font-size: 1.325rem;
  letter-spacing: 0.1rem;  
  font-family: "Roboto", sans-serif;
  padding: 0.05rem;
  z-index: 9;
  color:var(--primary-text-color)
}

.card .logo {   
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border : solid 3px transparent;  
  border-radius: 50%;
  min-width: 280px;
  height: 280px;  
  box-shadow: 0 0px 30px var(--primary-shadow-color);
  shape-outside: circle();
}

.card .logo::before{
  content:"";
  position: absolute;
  left:-3px;
  top:-3px;
  width:100%;
  height: 100%;
  border:3px solid transparent;
  border-top: 3px solid #24cf6c;
  border-left: 3px solid #24cf6c;
  border-radius: 50%;
  animation: animateBorder 3s linear infinite; 
  
}

.content ul li {  
  display:relative;
  background: var(--primary-color);
  color:var(--primary-text-color);
  list-style: none;
  margin:0 0 5px 20px ;
  padding: 10px;
  font-size: 1.325rem;
  float:left;
  border:solid 2px #24cf6c;
  border-radius: 15px;
}
/* Animations */

@keyframes animateBorder {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}