<section id="services">
  <div class="container py-3">        
  
  <h1 class="mb-3">Hizmetlerimiz</h1>
  <p class="mb-3">Size özel hizmetlerimizden yararlanın</p>
  <div class="services mb-1">
    <div class="service">
      <div class="services-card">
        <div class="service-card-logo"></div>
        <h4>Mühendislik Hizmetleri</h4>
        <ul>
          <li>Plan - Proje</li>
          <li>Kat Mülkiyeti</li>
          <li>İmar Barışı</li>
          <li>Cins Değişikliği</li>
          <li>Zemin Etüdü</li>
        </ul>
      </div>
    </div>
    <div class="service">
      <div class="services-card">
        <div class="service-card-logo"></div>
        <h4>Mimarlık Hizmetleri</h4>
        <ul>
          <li>İç Mekan Tasarımı</li>
          <li>Dış Mekan Tasarımı</li>
          <li>Proje Danışmanlığı</li>
          <li>3D Modelleme</li>
        </ul>
      </div>
    </div>
    <div class="service">
      <div class="service-card-logo"></div>
      <h4>İş Güvenliği Uzmanlığı</h4>
    </div>
    <div class="service">
      <div class="service-card-logo"></div>
      <h4>Enerji kimlik belgesi</h4>
    </div>
  </div>
</div>
</section>
