/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  display: block;
  padding: 3px;  
  height: 64px;
  width: 64px;
}

.social a:hover {
  color: orangered;
}
